:root {
    --text: #56593D;
    --absolute: #000000;
    --white: #FFF;
    --text-light: #717353;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

input {
	border: 0;
	outline: none;
	&:focus {
		&::placeholder {
			opacity: 0;
		}

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}
	}

    &:disabled {
		opacity: .55;
	}
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

body {
    padding: 0;
	margin: 0;
}

@media only screen and (min-width: 1352px) and (max-width: 1423px) {
    * {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1186px) and (max-width: 1246px) {
    * {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1186px) and (max-width: 1352px) {
    * {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1186px) {
    * {
        font-size: 12px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    * {
        font-size: 10px;
    }
}

.wrap {
	display: flex;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
    padding: 0 3.5rem;
	flex-direction: column;
	color: var(--text);
}